#ParserWindowMenu {
    background-color: rgb(0, 0, 0);
}

#ParserWindowTitle {
    color: rgb(200, 200, 200);
    font-weight: bold;
    font-size: 14px;
}

#ParserButton {
    color: white;
    font-weight: bold;
    background: black;
    padding: 2px;
    spacing: 10px;
}

#ParserButton:Hover {
    background: #111133;
}

#MapCanvas {
    background-color: rgb(0, 0, 0);
}

#MapAreaLabel {
    color: rgb(200, 200, 200);
    font-size: 12px;
}