
#SpellTarget {
    background-color: green;
}

#SpellScrollArea {
    border: none;
}

#SpellScrollArea QScrollBar::vertical {
    background: #111;
    width: 12px;
    margin: 12px 0 12px 0;
}

#SpellScrollArea QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
    background: none;
}

#SpellScrollArea QScrollBar::up-arrow:vertical {
    background: #333;
    width: 10px;
    height: 10px;
    border: none;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

#SpellScrollArea QScrollBar::down-arrow:vertical {
    background: #333;
    width: 10px;
    height: 10px;
    border: none;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

#SpellScrollArea QScrollBar::add-line:vertical {
    background: none;
    height: 12px;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
}

#SpellScrollArea QScrollBar::sub-line:vertical {
    background: none;
    height: 12px;
    subcontrol-position: top;
    subcontrol-origin: margin;
}

#SpellScrollArea QScrollBar::handle:vertical {
    min-height: 10px;
    width: 10px;
    max-width: 10px;
    background: #333;
    border: 1px solid #111;
}

#SpellContainer {
    background-color: black;
    border: none;
}

#SpellTargetLabel[TargetType='1'] {
    color: white;
    font-size: 14px;
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
    stop: 0 #000, 
    stop: 0.5 #000,
    stop: 0.8 #004400,
    stop: 1.0 #000);
}

#SpellTargetLabel[TargetType='2'] {
    color: white;
    font-size: 14px;
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
    stop: 0 #000, 
    stop: 0.5 #000,
    stop: 0.8 #440000,
    stop: 1.0 #000);
}

#SpellTargetLabel[TargetType='0'] {
    color: white;
    font-weight: bold;
    font-size: 14px;
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
    stop: 0 #000, 
    stop: 0.5 #000,
    stop: 0.8 #287AA9,
    stop: 1 #000);
}

#SpellWidget[Warning=false] {
    border: 1px solid black;
}

#SpellWidget[Warning=true] {
    border: 1px solid red;
}

#SpellWidgetProgressBarGood {
    border: 0;
    padding: 0;
}

#SpellWidgetProgressBarBad {
    border: 0;
    padding: 0;
}

#SpellWidgetProgressBarGood::chunk {
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
    stop: 0 #FFF, 
    stop: 0.5 #21B6A8,
    stop: 1.0 #287AA9);
}

#SpellWidgetProgressBarBad::chunk {
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
    stop: 0 #FFF, 
    stop: 0.5 #FF9900,
    stop: 1.0 #DD7700);
}

#SpellWidgetNameLabel {
    font-size: 12px;
}

#SpellWidgetTimeLabel[Warning=false] {
    font-weight: bold;
    font-size: 12px;
}

#SpellWidgetTimeLabel[Warning=true] {
    font-weight: bold;
    font-size: 16px;
    color: red;
}

#ParserWindow {
    background-color: black;
    font-family: 'Noto Sans';
}

#ParserWindowMoveButton {
    color:white;
    background: black;
    font-size: 18px;
    padding: 1px;
    border-radius: 5px;
    height: 20px;
    width: 20px;
}

#ParserWindowTitle {
    color: rgb(200, 200, 200);
    font-weight: bold;
    font-size: 14px;
}

#ParserWindowMenu QPushButton {
    color: darkslategray;
    background: black;
    font-size: 18px;
    padding: 1px;
    border-radius: 5px;
    height: 20px;
    width: 20px;
}

#ParserWindowMenu QPushButton:hover {
    background: darkgreen;
}

#ParserWindowMenu QPushButton:checked {
    color: white;
}

#ParserWindowMenu QLabel {

    color: rgb(200, 200, 200);
    font-weight: bold;
    font-size: 14px;
}


#ParserWindowMenu QSpinBox {
    color:white;
    font-size: 14px;
    font-weight: bold;
    padding: 3px;
    background-color: #050505;
    border: none;
    border-radius: 3px;
}

#MapCanvas {
    background-color: rgb(0, 0, 0);
    border:none;
}

#MapAreaLabel {
    color: rgb(200, 200, 200);
    font-size: 12px;
}


#SettingsLabel {
    background-color: #DDD;
    color: #333;
    font-size: 14px;
    border-radius: 3px;
    padding: 3px;
}